.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  margin: 15px 0;
}

.mid {
  position: relative;
  :global(.input-group-append) {
    margin-left: 0;
  }
}

.btn-more {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: #fff;
  font-weight: 700;
  height: 50px;
  width: 40px;
  color: rgba(#fff, 1);
  background: rgba(#fff, 0.1);
  outline: none;
  &:hover {
    color: #fff;
    background: rgba(#fff, 0.3);
  }
}

.btn-remove {
  color: red;
  margin-left: 10px;
  float: right;
}

.dropdown-custom {
  margin-top: 0;
}
