.weather-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}
video {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  @media screen and (max-aspect-ratio: 1920/1080) {
    height: 101%;
  }
  @media screen and (min-aspect-ratio: 1920/1080) {
    width: 101%;
  }
}
