.currently {
  flex-grow: 1;
}
.pullRight {
  float: right;
}
.stats {
  //float: right;
  font-size: 18px;
  @media (max-width: 767px) {
    font-size: 16px;
  }
  li {
    margin-bottom: 40px;
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  h5 {
    margin: 5px 0 0 0;
    padding: 0;
    font-weight: 700;
    font-size: 26px;
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  img {
    height: 40px;
    max-width: 100%;
  }
}
.stats-icon {
  svg {
    fill: #fff;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    @media (max-width: 767px) {
      height: 30px;
      width: 30px;
    }
  }
}
.stats-more {
  background: rgba(#fff, 0.1);
  cursor: pointer;
  border: 0;
  @media (max-width: 767px) {
    &:global(.list-group-item) {
      padding: 0.25rem 0.75rem;
    }
  }
  &:hover {
    background: rgba(#fff, 0.3);
  }
}
.now {
  img {
    height: 150px;
    @media (max-width: 767px) {
      height: 80px;
    }
  }
}

.summary {
  font-size: 36px;
  @media (max-width: 767px) {
    font-size: 26px;
  }
}

.location {
  font-size: 22px;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.temp {
  font-size: 58px;
  font-weight: 700;
  margin: 10px 0 0 0;
  @media (max-width: 767px) {
    font-size: 40px;
  }
}

.modal {
  &__top {
    background: #333;
    color: #fff;
    padding: 20px;
    text-shadow: 0 1px 2px rgba(#000, 0.2);
    font-weight: 700;
    position: relative;
    &__close {
      position: absolute;
      z-index: 1;
      top: 15px;
      right: 20px;
      font-size: 22px;
      border: 0;
      padding: 0;
      margin: 0;
      height: 30px;
      width: 30px;
      line-height: 0;
      border-radius: 25px;
      background: rgba(#000, 0.3);
      color: #fff;
    }
    h2 {
      position: relative;
      font-size: 18px;
      margin: 0;
      padding: 0;
      font-weight: 700;
    }
  }
  &__item {
    padding: 10px 0;
    text-align: center;
    &__title {
      font-size: 16px;
    }
    svg {
      fill: #fff;
      height: 40px;
      width: 40px;
      margin-bottom: 5px;
      filter: drop-shadow(1px 1px 3px rgba(#000, 0.3));
    }
  }
  ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    li {
      display: block;
      padding: 5px 0;
      border-bottom: 1px dashed rgba(#000, 0.2);
      &:after {
        content: "";
        display: block;
        clear: both;
      }
      span {
        float: right;
      }
    }
  }
}
.modal-body {
  padding: 20px;
}
